<header id="header">
  <div>
    <img src="../assets/wheater.svg" />
  </div>
  <div class="title">
    <a>{{title}}</a>
  </div>
  <nav>

  </nav>
</header>
<div id="body">
  <div class="form">
    <div class="header">
      <h3>{{title}}</h3>
      <img src="../assets/wheater.svg" />
    </div>

    <div class="middle">
      <label>Enter the desired city</label>
      <input type="text" [(ngModel)]="city" id="cityName" placeholder="City" />
    </div>
    <div class="buttonBox">
      <button (click)="onSearchHandler()">Search</button>
    </div>
    <div class="alert" *ngIf="error != null">
        <p>{{error.cod}} - {{error.message}}</p>
    </div>
    <div class="result" *ngIf="wheater != null">
      <h1>{{wheater.name}}</h1>
      <ul>
        <li *ngFor="let w of wheater.weather">
          <h3>{{w.main}}</h3>
          <p>{{w.description}}</p>
        </li>
      </ul>
      <ul class="temperature">
        <li>
          <label>Temperature:&nbsp;</label>{{wheater.main.temp}}</li>
        <li>
          <label>Pressure:&nbsp;</label>{{wheater.main.pressure}}</li>
        <li>
          <label>humidity:&nbsp;</label>{{wheater.main.humidity}}</li>
      </ul>
      <ul class="temperature">
        <li>
          <label>Minimum temperature:&nbsp;</label>{{wheater.main.temp_min}}</li>
        <li>
          <label>Maximun temperature:&nbsp;</label>{{wheater.main.temp_max}}</li>
      </ul>
    </div>
  </div>
</div>
